body {
border-radius: 10px;
min-height: 1000px;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
background-color: black;


background-image: url('ferien.jpg');
background-repeat: no-repeat;
background-attachment: fixed;  
background-size: 100%;
background-position: center;



/* background-color: #3f3f3f; */

.textcenter{
  text-align:center;
}
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
