body {
background-color: #292a2e;
border-radius: 10px;
min-height: 1000px;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
.textcenter{
  text-align:center;
}
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .selektor1 {
    font-family:Arial
  }

  .selektor2 {
    font-family:sans-serif
  }
  
  
  background-color: #292a2e;
  color: white;
  font-size: 25px;
}

.white-mode {
  background-color: white;
  color: black;
}
