body {
border-radius: 10px;
min-height: 1000px;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
background-color: black;






/* background-color: #3f3f3f; */

.textcenter{
  text-align:center;
}
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
